@model IEnumerable<Diary.Web.ViewModels.ViewResponse>
@{
    ViewData["Title"] = "ViewResponse";
}
<div>   
    <form method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ученик</th>
                    <th>Название</th>
                    <th>Предмет</th>
                    <th>Оценка</th>
                    <th>Ответы</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.StudentName</th>
                        <th>@item.Title</th>
                        <th>@item.SubjecName</th>
                        <th><input value="@item.Grade" size="1" disabled="disabled" name="input" id="input" /></th>
                        <th>@Html.ActionLink("Посмотреть", "UpdateResponse", new { id = item.Id }, null)</th>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>