@model IEnumerable<Diary.Web.ViewModels.ViewResponse>
@{
    ViewData["Title"] = "ViewResponse";
}
<div>   
    <form method="post">
        <a href="#" class="btn btn-primary" onclick="return ChangeGrade(this);">Изменить оценку</a>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ученик</th>
                    <th>Название</th>
                    <th>Предмет</th>
                    <th>Оценка</th>
                    <th>Ответ</th>
                    <th>Скачать</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.StudentName</th>
                        <th>@item.Title</th>
                        <th>@item.SubjecName</th>
                        <th><input value="@item.Grade" size="1" disabled="disabled" name="input" id="input" /></th>
                        <th>@item.Response</th>
                        <th>
                            @foreach (var doc in item.Attachments)
                            {
                                var Name = doc.Name + doc.Extension;
                                <a type="button" class="btn btn-primary" asp-controller="Teacher" asp-action="DownloadFile" id="@doc.Id" asp-route-id="@doc.Id">@doc.Name@doc.Extension</a>
                            }
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
@section Scripts {
    <script>
        function ChangeGrade(Element) {
            console.log('change');
            $("input").removeAttr('disabled');
        }
    </script>
}