@model Diary.Web.ViewModels.ViewUpdateResponse
@{
    ViewData["Title"] = "UpdateResponse";

}
<div>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-md-10">
                <table class="table table-striped">
                    <tr>
                        <td>Название: </td>
                        <td>@Html.DisplayFor(modelItem => Model.Title)</td>
                    </tr>
                    <tr>
                        <td>Предмет:</td>
                        <td>@ViewData["SubjectName"]</td>
                    </tr>
                    <tr>
                        <td>Текст задания:</td>
                        <td>@Html.DisplayFor(modelItem => Model.TaskText)</td>
                    </tr>
                    <tr>
                        <td>Файлы учителя</td>
                        <td>
                            @foreach (var doc in Model.AttachmentsTeacher)
                            {
                                var Name = doc.Name + doc.Extension;
                                <a type="button" class="btn btn-primary" asp-controller="Student" asp-action="DownloadFile" id="@doc.Id" asp-route-id="@doc.Id">@doc.Name@doc.Extension</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Срок: </td>
                        <td><p style="color:red">@Html.DisplayFor(modelItem => Model.Deadline)</p></td>
                    </tr>
                    <tr>
                        <td>Файлы студентов</td>
                        <td>
                            @foreach (var doc in Model.AttachmentsStudent)
                            {
                                var Name = doc.Name + doc.Extension;
                                <a type="button" class="btn btn-primary" asp-controller="Student" asp-action="DownloadFile" id="@doc.Id" asp-route-id="@doc.Id">@doc.Name@doc.Extension</a>
                            }
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <input  class="form-control" type="file" name="Files" id="Files" size="5242880" accept=".xls,.xlsx,.csv,.CSV,.png,.jpeg,.jpg,.gif,.doc,.docx,.pdf,.PDF,.txt" multiple />
                    <textarea value="Model.Response" name="Response" id="Response" rows="5" cols="90"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="btn btn-success" type="submit" value="Отправить" />
            </div>
        </div>
    </form>
</div>